<div class="hero min-h-screen bg-base-200">
    <div class="hero-content flex-col lg:flex-row-reverse">
      <div class="text-center lg:text-left">
        <h1 class="text-5xl font-bold">Upload now!</h1>
      </div>
      <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
        <form [formGroup]="photoForm" role="form" class="card-body">
          <div class="form-control">
            <label class="label">
              <span class="label-text">Upload your image</span>
            </label>
            <input #uploader type="file" class="file-input w-full max-w-xs" (change)="onUploadFile($event)" />
          </div>
          
          <div class="form-control mt-6">
            <button class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>